---
layout: base.njk
---

<article class="blog-post montserrat-400 body-text-font">

  {% if title %}
    <h1 class="blog-title montserrat-400">{{ title }}</h1>
  {% endif %}

  {% if cover %}
    <div class="blog-cover" style="background-image: url('{{ cover }}');" aria-hidden="true"></div>
  {% endif %}

  <div class="blog-content inter-300">
    {{ content | safe }}
  </div>

</article>