<div class="timeline">
  {% for item in collections.experiences %}
    <div class="timeline-item">
      <div class="timeline-marker"></div>
      <div class="timeline-body">
        <span class="timeline-period">
          {{ item.data.start }} – {{ item.data.end }}
        </span>
        <h3 class="timeline-role">{{ item.data.title }}</h3>
        <div class="timeline-description">{{ item.templateContent | safe }}</div>
      </div>
    </div>
  {% endfor %}
</div>