---
title: blogs
layout: base.njk
permalink: /blogs/
---

<section class="projects-intro montserrat-400">
  <h1 class="pixel-art-secondary-header">{{ title }}</h1>
  <p class="body-text-font">
    Explore my latest blog posts. Click on any card to read the full post.
  </p>
</section>

<section class="blog-index-list body-text-font">
  {% for blog in collections.blog %}
    <article class="blog-item">
      <a href="{{ blog.url }}" class="blog-item-link">
        <span class="blog-item-date dim-text">{{ blog.date.toDateString() }}</span>
        <h2 class="blog-item-title">{{ blog.data.title }}</h2>
      </a>
    </article>
  {% endfor %}
</section>
