---
title: Blogs
layout: base.njk
permalink: /blogs/
---

<section class="projects-intro montserrat-400">
  <h1 class="montserrat-400">{{ title }}</h1>
  <p class="body-text-font">
    Explore my latest blog posts. Click on any card to read the full post.
  </p>
</section>

<section class="projects-grid body-text-font">
  {% for blog in collections.blogs %}
    <article class="project-card body-text-font">
      <a href="{{ blog.url }}" class="project-link">
        {% if blog.data.cover %}
          <div class="project-cover" style="background-image: url('{{ blog.data.cover }}');" aria-hidden="true"></div>
        {% endif %}
        <div class="project-content">
          <h2 class="project-title body-text-font">{{ blog.data.title }}</h2>
        </div>
      </a>
    </article>
  {% endfor %}
</section>
