
html {
    scroll-behavior: smooth;
}

body {
    margin: 0px;
    padding: 0px;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    font-family: 'Indie Flower', cursive;
}

.container {
    height: 100vh;
    width: 100vw;
}

.introduction {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

canvas {
    position: absolute;
    height: 100vh;
    width: 100vw;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.nav-bar {
    position: absolute;
    top: 0px;
    height: 50px;
    width: 100vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

ul {
    list-style-type: none;
}

a {
    padding-right: 50px;
    font-size: 25px;
    text-decoration: none;
    color: white;
}

p { 
    font-size: 40px;
}

#name  {
    letter-spacing: 8px;
    font-style: bold;
    font-size: 60px;
    color: rgb(23, 175, 13);
}

.about-me {
    
}

.projects-container {
    display: flex;
    flex-direction: column;
}

.projects {
    display: flex; 
    justify-content: space-around;
    flex-wrap: wrap;
    flex-grow: 9;
    align-items: center;
}

.project {
    height: 400px;
    width: 400px;
    background-color: white;
    display: flex;
    flex-direction: column;
}

.project-image {
    flex-grow: 6;
}

.python-neat {
    background-image: url("./images/python_neat.png")
}

.description {
    flex-grow: 4;
    text-align: center;
}

.skills {

}
